@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root {
  --background: #0A0A0A;
  --card: #000000;
  --titulo: #e4e4e4;
  --texto: #C8F8DB;
  --efeitos: rgb(49, 191, 42);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  cursor: pointer;
  scroll-behavior: smooth;
}

p {
  color: #fff;
  margin: 10px 0;
}

.face {
  width: 90%;
  max-width: 400px;
  height: auto;
}

.card, .card-back {
  width: 100%;
  max-width: 25rem;
  height: 500px;
  background: var(--card);
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  position: absolute;
  border-radius: 0.2rem;
  box-shadow: 0 8px 10px 0;
  overflow: hidden;
  transition: all 0.4s ease;
}

.card-back {
  transform: rotateY(-180deg);
  backface-visibility: hidden;
}

.face.active .card {
  transform: rotateY(180deg);
  z-index: 0;
}

.face.active .card-back {
  transform: rotateX(0);
  z-index: 1;
}

/* Animations */
.card span {
  position: absolute;
  background: var(--efeitos);
}

.card span:first-of-type {
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  animation: animar1 2s linear infinite;
}

@keyframes animar1 {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.card span:nth-of-type(2) {
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  animation: animar2 2s linear infinite 1s;
}

@keyframes animar2 {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(100%); }
}

.card span:nth-of-type(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  animation: animar3 2s linear infinite;
}

@keyframes animar3 {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.card span:nth-of-type(4) {
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  animation: animar4 2s linear infinite 1s;
}

@keyframes animar4 {
  0% { transform: translateY(100%); }
  100% { transform: translateY(-100%); }
}

/* Responsiveness */
@media (max-width: 768px) {
  .card, .card-back {
    height: 400px;
    padding: 16px;
  }
}

@media (max-width: 480px) {
  .card, .card-back {
    height: 350px;
    padding: 12px;
  }
}
